<div class="container">
  <div class="row">
    <div class="col l5 s12">
      <h5 class="white-text">About Us</h5>
      <p class="grey-text text-lighten-4">
        Walchand Institute of Technology (WIT), Solapur, established in 1983, is one of the 
        pioneering self-financed engineering institutions in India. Managed by S.A.P.D. Jain 
        Pathshala Trust, WIT is committed to providing state-of-the-art technical education 
        and fostering innovation through its autonomous status.
      </p>
    </div>

    <div class="col l4 s12">
      <h5 class="white-text">Vision and Mission</h5>
      <p class="grey-text text-lighten-4">
        <strong>Vision:</strong> To be a premier institute producing globally competent engineering 
        professionals to contribute towards socio-economic growth of India.
      </p>
      <p class="grey-text text-lighten-4">
        <strong>Mission:</strong> To provide conducive and collaborative environment to meet 
        contemporary and future Engineering challenges by project-based and value-added education.
      </p>
    </div>

    <div class="col l3 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://witsolapur.org/" target="_blank">WIT Solapur Official</a></li>
        <li><a class="grey-text text-lighten-3" href="https://witsolapur.org/pbas-portal" target="_blank">PBAS Guidelines</a></li>
        <li><a class="grey-text text-lighten-3" href="https://witsolapur.org/contact-us/" target="_blank">Contact Administration</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright" style="background-color: #002244;">
  <div class="container center-align">
    © 2026 Walchand Institute of Technology, Solapur | Designed for Major Project
  </div>
</div>